
- var isShowChangeBanner = 0


extends ../layout/outer.jade



//- append head-script
//- 	script(src = '#{jsRoot}/app/outer/help.js')
block site-nav-three
	include ../public/outer/site-nav-three.jade

block site-content
	.manage-frame
		iframe#J-manageFrame(src="#{htmlRoot}/列表页/两行查询列表.html", frameborder="0", width="100%" name="manage-inner")