// $gwidth             = 1000px

$glinkerColor       = #012fdd
$glinkerHoverColor  = #ff6567

$gsiteColor         = #31a1f3
// $gsiteBorderColor   = #e2e2e2


// $gportalSiteColor   = $gsiteColor

// $modalBtnBgColor    = #3dbee8
// $modalBtnBarBgColor = #e9f6ff


$siteTopnavFontColor   = #6b6b6b

$siteNormalFontColor   = #333333

$sitTopnavHover        = #f71

$siteNormalBorder      = #e0e0e0

$siteNormanBackground  = #f7f7f7

$siteNormalBackgroundHover = #30a1f3

$siteNormalInpBorderColor = #7f9db9


//三级菜单
$siteNavThreeBg           = #037cd3
$siteNavThreeFontColor    = #fff
$siteNavThreeBgActive     = #0663a5

//一般字体大小
$siteNormalFontSize       = 12px


//search-input的高度
$searchInpHeight          = 22px

//search-select的高度
$searchSelectHeight       = 22px

//查询按钮颜色
$searchBtnBg              = #31a1f3
//查询鼠标移上去效果和点击效果
$searchBtnProcessing      = $searchBtnBg + 10%


//查询结果操作工具栏背景色
$resultOperationsBg 	  = #f9fdff

$resultborder             = #c7e3f9

$resultOperationsIcoColor = #0b87eb

//查询table标题
$resultTitleBg 			  = #e9f5ff

$resultFontColor          = #353535

$resultActiveTrBg         = #e9f5ff

$resultTableA             = #0c63c5

//多个标题切换
$resultTabItemActiveFont      = #0b87e9        
$resultTabItemActiveBg    = #fff

//tablefill样式
$tablefillTitleBg         = e9f5ff

$tablefillborder          = #c7e3f9

$tablefillFontColor       = #353535

$tablefillTdBg            = #f6fbff

$fileUploadBtnBg          = #30a1f3

$tablefillOperationBtnBg  = #30a1f3




//checkbox
// $checkboxBackground       = #
$checkboxBorder           = #1c5180


//弹出框按钮
$modalBtnBgColor = #31a1f3

$modalBtnBarBgColor = #e8f5fe



//提示信息字体
$hintFontColor     = #055fa6

//登录页面风格
$loginBarBtnBg     = #30a1f3
$loginBarTabBorderBot = #30a1f3

