.btn
	/&-dialog
		border: 0
		background: $modalBtnBgColor
		border-radius: 3px
		filter none
		color #fff
		&:hover
			color #fff
			background: $modalBtnBgColor + 10%
		&.btn_is-hover
			color #fff
			background: $modalBtnBgColor + 10%
		&.btn_is-press
			color #fff
			background: $modalBtnBgColor + 10%