

#site-logo
	.site-logo-container
		.site-logo

		.site-theme

		div(class="#{ isShowChangeBanner === 0 ? 'systemChangeBtn systemChangeBtn_is-show' : 'systemChangeBtn' }").J-systemChangeBtn
			| 系统切换
			span.ico-font.ico-spread &#xe600;
			span.ico-font.ico-shink &#xe601;
			.systemChangeBanner-mask
			.systemChangeBanner
				ul.systemChangeBanner-content
					li
						span
						a(href="#", target="_blank")
							| 智能信息安全管理系统1
					li
						span
						a(href="#", target="_blank")
							| 智能信息安全管理系统1
					li
						span
						a(href="#", target="_blank")
							| 智能信息安全管理系统1
					li
						span
						a(href="#", target="_blank")
							| 智能信息安全管理系统1
					li
						span
						a(href="#", target="_blank")
							| 智能信息安全管理系统1

