#site-topnav
	.site-topnav-container
		.site-topnav-left
			span 欢迎来到系统界面标准规范！
		.site-topnav-right
			span.menu.J-systemChangeBtn
				| 欢迎您，admin

				a(href="#").ico-font.site-topnav-userinfo
					| &#xe600;

				.menu-content
					.menu-wrap
						.menu-arrow
							.arrow-fillin
						.menu-list
							.menu-item
								a(href="javascript:;").menu-block-linker
									| 个人中心
							.menu-item
								a(href="javascript:;").menu-block-linker
									| 退出


			span |

			a(href="#", target="_self").site-topnav-exit
				span 退出