<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../..//css/inner.css">
    <script>
      var _G = {
        sideNavActive : -1,
        jsPath: "../..//scripts",
        cssPath: "../..//css"
      }
    </script>
    <script src="../..//scripts/lib/requirejs-config/inner.js"></script>
    <script src="../..//scripts/lib/calendar/WdatePicker.js"></script>
    <script src="../..//scripts/lib/requirejs/require.js" data-main="inner/main"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div id="inner-crumbs">
          <div class="crumbs-container"><span>当前位置：</span><a href="#" class="crumbs-item">列表</a><span class="crumbs-item-drivers">></span><a class="crumbs-item">两行查询列表</a></div>
        </div>
        <div class="manage-content-container">
          
          <div class="tablecheck">
            <div class="tablefill">
              <div class="result-title uniq-top-border"><span>综试区简介</span></div>
              <form method="post" action="xx.jspa">
                <table class="tablefill-table">
                  <colgroup>
                    <col width="16%">
                    <col width="34%">
                    <col width="16%">
                    <col width="34%">
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>
                        <div class="cel-right tablefill-th"><span>IMO号码</span></div>
                      </th>
                      <td class="cel-left"><span>12345SDFF5550006</span></td>
                      <th>
                        <div class="cel-right tablefill-th"><span>IMO号码</span></div>
                      </th>
                      <td class="cel-left"><span>12345SDFF5550006</span></td>
                    </tr>
                    <tr>
                      <th>
                        <div class="cel-right tablefill-th"><span>船舶呼号</span></div>
                      </th>
                      <td class="cel-left"><span>12345SDFF5550006</span></td>
                      <th>
                        <div class="cel-right tablefill-th"><span>船舶呼号</span></div>
                      </th>
                      <td class="cel-left"><span>12345SDFF5550006</span></td>
                    </tr>
                    <tr>
                      <th>
                        <div class="cel-right tablefill-th"><span>国籍证书签发日期</span></div>
                      </th>
                      <td class="cel-left"><span>具体文字内容</span></td>
                      <th>
                        <div class="cel-right tablefill-th"><span>国籍证书签发日期</span></div>
                      </th>
                      <td class="cel-left"><span>具体文字内容</span></td>
                    </tr>
                    <tr>
                      <th>
                        <div class="cel-right tablefill-th"><span>国籍证书签发日期</span></div>
                      </th>
                      <td class="cel-left"><span>具体文字内容</span></td>
                      <th>
                        <div class="cel-right tablefill-th"><span> <em class="tablefill-required-ico">*</em>国籍证书签发日期</span></div>
                      </th>
                      <td class="cel-left"><span>具体文字内容</span></td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="result">
              <div class="result-title-container">
                <div class="result-title uniq-top-border"><span>综试区简介</span></div>
              </div>
              <div class="result-list">
                <table class="result-table">
                  <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                  </colgroup>
                  <thead>
                    <tr>
                      <th class="cel-left"><span>运单号</span></th>
                      <th class="cel-right"><span>发车网点 </span></th>
                      <th><span>单位名称</span></th>
                      <th><span>装车单号</span></th>
                      <th><span>司机 </span></th>
                      <th><span>司机电话</span></th>
                      <th><span>车费付款方式</span></th>
                      <th><span>司机电话</span></th>
                      <th><span>车费付款方式</span></th>
                      <th><span>车费付款方式</span></th>
                    </tr>
                  </thead>
                  <tbody id="J-resultContainer">
                    <tr>
                      <td class="cel-left"><span>左对齐</span></td>
                      <td class="cel-right"><span>右对齐</span></td>
                      <td class="cel-center"><span>杭州</span></td>
                      <td class="cel-center"><span>浙A 04572</span></td>
                      <td class="cel-center"><span>2817320001</span></td>
                      <td class="cel-center"><span>张三</span></td>
                      <td class="cel-center"><span>13554385058</span></td>
                      <td class="cel-center"><span>张三</span></td>
                      <td class="cel-center"><span>13554385058</span></td>
                      <td class="cel-center"><span>13554385058</span></td>
                    </tr>
                    <tr>
                      <td class="cel-left"><span>左对齐</span></td>
                      <td class="cel-right"><span>右对齐</span></td>
                      <td class="cel-center"><span>杭州</span></td>
                      <td class="cel-center"><span>浙A 04572</span></td>
                      <td class="cel-center"><span>2817320001</span></td>
                      <td class="cel-center"><span>张三</span></td>
                      <td class="cel-center"><span>13554385058</span></td>
                      <td class="cel-center"><span>张三</span></td>
                      <td class="cel-center"><span>13554385058</span></td>
                      <td class="cel-center"><span>13554385058</span></td>
                    </tr>
                    <tr>
                      <td class="cel-left"><span>左对齐</span></td>
                      <td class="cel-right"><span>右对齐</span></td>
                      <td class="cel-center"><span>杭州</span></td>
                      <td class="cel-center"><span>浙A 04572</span></td>
                      <td class="cel-center"><span>2817320001</span></td>
                      <td class="cel-center"><span>张三</span></td>
                      <td class="cel-center"><span>13554385058</span></td>
                      <td class="cel-center"><span>张三</span></td>
                      <td class="cel-center"><span>13554385058</span></td>
                      <td class="cel-center"><span>13554385058</span></td>
                    </tr>
                    <tr class="tr__is-page">
                      <td colspan="10" class="cel-page">
                        <div class="page page_flat page_right">
                          <form><span class="pagination"><a class="pagination-mark pagination-mark_link pagination-mark_prev">上一页</a><a class="pagination-mark pagination-mark_link">1</a><span class="pagination-mark pagination-mark_current">2</span><a class="pagination-mark pagination-mark_link">3</a><span class="pagination-mark pagination-mark_elipses">...</span><a class="pagination-mark pagination-mark_link">100</a><span class="pagination-mark pagination-mark_link pagination-mark_next">下一页</span></span><span class="pageinfo"><span class="page-text">共10页</span></span><span class="pageskip"><span class="page-text">到第</span>
                              <input value="0" class="pageskip-input"/><span class="page-text">页</span><a href="javascript:;" class="pageskip-btn">确认</a></span></form>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tablefill">
              <div class="result-title uniq-top-border"><span>审批信息</span></div>
              <form method="post" action="xx.jspa">
                <table class="tablefill-table">
                  <colgroup>
                    <col width="20%">
                    <col width="80%">
                  </colgroup>
                  <tbody>
                    <tr>
                      <th class="cel-right"><span>审批意见</span></th>
                      <td class="cel-left">
                        <textarea type="text" placeholder="请输入内容" row="3" class="inp inp-tablefill-textarea"></textarea>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="cel-center">
                        <div class="flex flex-pack-center flex-align-center tablefill-operation"><a href="javascript:;" data-confirm-params="aa=01&amp;&amp;bb=02" class="btn btn-tablefill J-btn J-confirmBtn">审批通过</a><a href="#" class="btn btn-tablefill J-btn">返 回</a></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../..//scripts/lib/autoheight/main.js"></script>
</html>