<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../..//css/inner.css">
    <script>
      var _G = {
        sideNavActive : -1,
        jsPath: "../..//scripts",
        cssPath: "../..//css"
      }
    </script>
    <script src="../..//scripts/lib/requirejs-config/inner.js"></script>
    <script src="../..//scripts/lib/calendar/WdatePicker.js"></script>
    <script src="../..//scripts/lib/requirejs/require.js" data-main="inner/main"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div id="inner-crumbs">
          <div class="crumbs-container"><span>当前位置：</span><a href="#" class="crumbs-item">列表</a><span class="crumbs-item-drivers">></span><a class="crumbs-item">两行查询列表</a></div>
        </div>
        <div class="manage-content-container">
          
          <div class="tablefill">
            <div class="result-title uniq-top-border"><span>综试区简介</span></div>
            <form method="post" action="xx.jspa">
              <table class="tablefill-table">
                <colgroup>
                  <col width="16%">
                  <col width="34%">
                  <col width="16%">
                  <col width="34%">
                </colgroup>
                <tbody>
                  <tr>
                    <th>
                      <div class="cel-right tablefill-th"><span>IMO号码</span></div>
                    </th>
                    <td class="cel-left"><span>12345SDFF5550006</span></td>
                    <th>
                      <div class="cel-right tablefill-th"><span>IMO号码</span></div>
                    </th>
                    <td class="cel-left"><span>12345SDFF5550006</span></td>
                  </tr>
                  <tr>
                    <th>
                      <div class="cel-right tablefill-th"><span>船舶呼号</span></div>
                    </th>
                    <td class="cel-left"><span>12345SDFF5550006</span></td>
                    <th>
                      <div class="cel-right tablefill-th"><span>船舶呼号</span></div>
                    </th>
                    <td class="cel-left"><span>12345SDFF5550006</span></td>
                  </tr>
                  <tr>
                    <th>
                      <div class="cel-right tablefill-th"><span>国籍证书签发日期</span></div>
                    </th>
                    <td class="cel-left"><span>具体文字内容</span></td>
                    <th>
                      <div class="cel-right tablefill-th"><span>国籍证书签发日期</span></div>
                    </th>
                    <td class="cel-left"><span>具体文字内容</span></td>
                  </tr>
                  <tr>
                    <th>
                      <div class="cel-right tablefill-th"><span>国籍证书签发日期</span></div>
                    </th>
                    <td class="cel-left"><span>具体文字内容</span></td>
                    <th>
                      <div class="cel-right tablefill-th"><span> <em class="tablefill-required-ico">*</em>国籍证书签发日期</span></div>
                    </th>
                    <td class="cel-left"><span>具体文字内容</span></td>
                  </tr>
                  <tr>
                    <td colspan="4" class="cel-center">
                      <div class="flex flex-pack-center flex-align-center tablefill-operation"><a href="#" class="btn btn-tablefill J-btn">返 回</a></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../..//scripts/lib/autoheight/main.js"></script>
</html>