<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../..//favicon.ico">
    <link rel="stylesheet" href="../..//css/ssologin.css">
  </head>
  <body>
    <div id="site-header">
      <div class="site-header-container">
        <div id="site-logo">
          <div class="site-logo-container">
            <div class="site-logo"></div>
            <div class="site-theme"></div>
            <div class="systemChangeBtn J-systemChangeBtn">系统切换<span class="ico-font ico-spread">&#xe600;</span><span class="ico-font ico-shink">&#xe601;</span>
              <div class="systemChangeBanner-mask"></div>
              <div class="systemChangeBanner">
                <ul class="systemChangeBanner-content">
                  <li><span></span><a href="#" target="_blank">智能信息安全管理系统1</a></li>
                  <li><span></span><a href="#" target="_blank">智能信息安全管理系统1</a></li>
                  <li><span></span><a href="#" target="_blank">智能信息安全管理系统1</a></li>
                  <li><span></span><a href="#" target="_blank">智能信息安全管理系统1</a></li>
                  <li><span></span><a href="#" target="_blank">智能信息安全管理系统1</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="site-login">
      <div class="site-login-container">
        <div class="site-login-controller">
          <div style="background:url('../../images/login/login.jpg') no-repeat 35% 100%" class="site-login-background"></div>
          <div class="site-login-box">
            <div class="site-login-form-container">
              <iframe src="https://sso.chinabeston.com/sso/loginCommon?service=http://www.zjport.gov.cn/protected/redirect.jsp?url=http%3A%2F%2Fwww.zjport.gov.cn%2F&amp;cssUrl=themes/zjport/css/new/skin/sso/cover.debug.css&amp;forgetPasswordUrl=http://sw.chinabeston.com/member/framehead/framehead.jspa?url=http://sw.chinabeston.com/member/resetpassword/resetpassword.jspa&amp;registerUrl=http://sw.chinabeston.com/member/framehead/framehead.jspa?url=http://sw.chinabeston.com/member/register/register.jspa&amp;cache=null&amp;loginTab=common&amp;noVerifyCodeOnce=true&amp;verifyCodeSize=2" scrolling="no" frameborder="0" allowtransparency="true" style="border: 0px; width: 100%; height:100%;"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="site-footer">
      <div class="site-footer--content">版权所有©2006 - 2016 <a href="#">浙江电子口岸有限公司</a></div>
    </div>
  </body>
</html>