<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../..//favicon.ico">
    <link rel="stylesheet" href="../..//css/login.css">
    <script src="../..//scripts/lib/requirejs-config/login.js"></script>
    <script src="../..//scripts/lib/requirejs/require.js" data-main="login/main"></script>
  </head>
  <body>
    <div id="site-header">
      <div class="site-header-container">
        <div id="site-logo">
          <div class="site-logo-container">
            <div class="site-logo"></div>
            <div class="site-theme"></div>
            <div class="systemChangeBtn J-systemChangeBtn">系统切换<span class="ico-font ico-spread">&#xe600;</span><span class="ico-font ico-shink">&#xe601;</span>
              <div class="systemChangeBanner-mask"></div>
              <div class="systemChangeBanner">
                <ul class="systemChangeBanner-content">
                  <li><span></span><a href="#" target="_blank">智能信息安全管理系统1</a></li>
                  <li><span></span><a href="#" target="_blank">智能信息安全管理系统1</a></li>
                  <li><span></span><a href="#" target="_blank">智能信息安全管理系统1</a></li>
                  <li><span></span><a href="#" target="_blank">智能信息安全管理系统1</a></li>
                  <li><span></span><a href="#" target="_blank">智能信息安全管理系统1</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="site-login">
      <div class="site-login-container">
        <div class="site-login-controller">
          <div style="background:url('../../images/login/login.jpg') no-repeat 35% 100%" class="site-login-background"></div>
          <div class="site-login-box">
            <div class="site-login-form-container">
              <div class="site-login-form">
                <form>
                  <div class="site-login-form-title">登录</div>
                  <div class="site-login-form-error"><span class="ico"></span>用户名不正确！</div>
                  <div class="site-login-form-controller">
                    <label></label>
                    <div class="site-login-form-inp">
                      <input type="text" placeholder="用户名/邮箱" required>
                    </div>
                  </div>
                  <div class="site-login-form-controller">
                    <label class="password"></label>
                    <div class="site-login-form-inp">
                      <input type="text" placeholder="请输入登录密码">
                    </div>
                  </div>
                  <div class="site-login-form-opera"><a href="#">忘记密码？</a><a href="#" class="site-login-form-rigest">注册账号</a></div>
                  <div class="site-login-form-code">
                    <input type="text" placeholder="请输入验证码" class="site-login-form-codeinp"><img src="" width="69" height="32" class="site-login-form-codeimg"><a href="javascript:;" class="site-login-form-coderefresh">点击刷新</a>
                  </div>
                  <div class="site-login-form-btn"><a href="javascript:;" class="login-btn J-loginConfirmBtn">登 录</a></div>
                  <div class="site-login-form-number">咨询热线：<span>
                       
                      0571-967209</span></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="site-footer">
      <div class="site-footer--content">版权所有©2006 - 2016 <a href="#">浙江电子口岸有限公司</a></div>
    </div>
  </body>
</html>