.crumbs-container
    padding-left 12px
    line-height 44px
    color #0b0b0b
    border-bottom 1px solid $siteNormalBorder
    font-size $siteNormalFontSize
    .crumbs-item
        color #0b0b0b
        &:hover
            color $sitTopnavHover
            text-decoration underline
        &:last-child:hover
            color #0b0b0b
            text-decoration none

    .crumbs-item-drivers
        padding 0px 4px