.placeholder
	position: relative
	display: block
	.placeholder-text
		display: inline-block
		position: absolute
		left: 4px
		top: 0
		height: 22px
		em
			line-height: 16px

	

.tablefill-table
	td
		.placeholder
			.placeholder-text
				top: 5px
			