.site-login-container
	margin: 20px
	height: 520px
	margin: 20px 
	border: 1px solid $siteNormalBorder
	.site-login-controller
		position: relative
		width: 1000px
		height: 100%
		margin: 0 auto
		$mx_clearfix()
		.site-login-background
			position: absolute
			left: 0px
			top: 0px
			width: 100%
			height: 100%
		.site-login-box
			z-index: 2
			position: absolute
			top: 50%
			right: 0px
			margin-top: -164px
			border: 1px solid $siteNormalBorder
			.site-login-form-container
				width: 308px
				height: 326px