.main-content-container
    margin 10px 17px 20px 22px
    $mx_clearfix()
    .content-left
        overflow: hidden
        float left
        width 186px
        min-height 600px
        border 1px solid $siteNormalBorder
    .content-right
        margin-left 198px
        min-height 600px
        border 1px solid $siteNormalBorder






