.hint-error-page.flex.flex-pack-center.flex-align-center
	.hint-error-page-content.hint-error-page-content-500
		.hint-error-page-txt-box
			.hint-error-page-t
				| 对不起，服务器繁忙！
				<br/>
				| 本网站暂时无法处理您的请求！

			dl
				dt 您可以：
				dd
					| 稍后访问该页面。
				dd 
					a(href="#")
						| 返回首页
					|继续访问本网站。
				dd
					| 联系客服
					span 0571-967209
					| 寻求帮助。