#search
  .search-container.J-searchContainer
    form
      a(href="javascript:;").search-toggle-btn.ico-toggle-spread.J-searchToggleBtn
        | 展开 
        i.ico-font &#xe606;
      a(href="javascript:;").search-toggle-btn.ico-toggle-shrink.J-searchToggleBtn
        | 收起 
        i.ico-font &#xe607;
      .search-fieldset
        .search-controller
          label.field-label
            span 车牌号
          .field-group
            input(type="text").field-inp-item.inp.inp-search

        //- 时间选择
        .search-controller
            label.field-label
              span 发车日期
            .field-group.field-group-timerange
              input(type="text", onclick="WdatePicker()").field-inp-item.inp.inp-search.inp-time.Wdate
              span.field-group-timerange-to 至
              input(type="text", onclick="WdatePicker()").field-inp-item.inp.inp-search.inp-time.Wdate

        .search-controller
          label.field-label
            span 车牌号
          .field-group
            input(type="text").field-inp-item.inp.inp-search

        .search-controller
          label.field-label
            span 账号
          .field-group.field-group-select
            select().inp.inp-search.inp-select
              option
              option 12345erfgrgfgdggf
              option 123456gdgdfgd

        .search-controller
          label.field-label
            span 车牌号
          .field-group
            input(type="text").field-inp-item.inp.inp-search

        .search-controller
          label.field-label
            span 车牌号
          .field-group
            input(type="text").field-inp-item.inp.inp-search


         //- 时间选择
        .search-controller
            label.field-label
              span 发车日期
            .field-group.field-group-timerange
              input(type="text", onclick="WdatePicker()").field-inp-item.inp.inp-search.inp-time.Wdate
              span.field-group-timerange-to 至
              input(type="text", onclick="WdatePicker()").field-inp-item.inp.inp-search.inp-time.Wdate

        .search-controller
          label.field-label
            span 车牌号
          .field-group
            input(type="text").field-inp-item.inp.inp-search

        .search-controller
          label.field-label
            span 车牌号
          .field-group
            input(type="text").field-inp-item.inp.inp-search


      .search-operation.flex.flex-pack-center
        a.btn.J-btn.btn-search.J-searchBtn
          span 查 询
        a.btn.J-btn.btn-search.J-resetBtn
          span 重 置


