.tablefill
	.result-title.uniq-top-border
		span 综试区简介
	form(method="post", action="xx.jspa")
		table.tablefill-table
			colgroup
				col(width="16%")
				col(width="34%")
				col(width="16%")
				col(width="34%")

			tbody
				tr
						th
							.cel-right.tablefill-th
								span IMO号码
						td.cel-left
							span 12345SDFF5550006
						th
							.cel-right.tablefill-th
								span IMO号码
						td.cel-left
							span 12345SDFF5550006

					tr
						th
							.cel-right.tablefill-th
								span 船舶呼号
						td.cel-left
							span 12345SDFF5550006
						th
							.cel-right.tablefill-th
								span 船舶呼号
						td.cel-left
							span 12345SDFF5550006

					tr
						th
							.cel-right.tablefill-th
								span 国籍证书签发日期
						td.cel-left
							span 具体文字内容
						th
							.cel-right.tablefill-th
								span 国籍证书签发日期
						td.cel-left
							span 具体文字内容

					tr
						th
							.cel-right.tablefill-th
								span 国籍证书签发日期
						td.cel-left
							span 具体文字内容
						th
							.cel-right.tablefill-th
								span 
									em.tablefill-required-ico *
									| 国籍证书签发日期
						td.cel-left
							span 具体文字内容


				
				tr
					td(colspan="4").cel-center
						.flex.flex-pack-center.flex-align-center.tablefill-operation
							a(href="#").btn.btn-tablefill.J-btn
								| 返 回

