/**
 * 文件: .css 
 * 公司: 浙江电子口岸
 * 作者: qzzf1987@gmail.com
 * 时间: 2015-06-11 02:02:42
 */
.lgbox-common-form .form_group .controller-group .controller-label {
  background-image: url("./images/icos.png");
  background-repeat: no-repeat;
}
.lgbox-common-form .form_group .lg-btn .controller-body .lgbtn-common-login,
.lgbox-ikey .lgbox-ikey-hint .ikey-login-btn .lgbtn-ikey-login,
.hint-layer .hint-btn .lgbtn-hint-comfirm {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: #294b8a;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.lgbox-common-form .form_group .lg-btn .controller-body .lgbtn-common-login .lgbtn-txt,
.lgbox-ikey .lgbox-ikey-hint .ikey-login-btn .lgbtn-ikey-login .lgbtn-txt,
.hint-layer .hint-btn .lgbtn-hint-comfirm .lgbtn-txt {
  line-height: 40px;
  line-height: 42px\9;
  font-size: 16px;
  font-family: 'Microsoft Yahei';
  letter-spacing: 6px;
}
.lgbox-common-form .form_group .lg-btn .controller-body .lgbtn-common-login:hover,
.lgbox-ikey .lgbox-ikey-hint .ikey-login-btn .lgbtn-ikey-login:hover,
.hint-layer .hint-btn .lgbtn-hint-comfirm:hover {
  background-color: #2d5297;
}
body {
  background: none;
  font-size: 12px;
}
.modal_alert {
  width: 230px;
  margin-left: -115px;
}
.lgview-box-wrap {
  padding-left: 28px;
  padding-right: 28px;
  _zoom: 1;
}
.lgview-box-tabs {
  padding-top: 5px;
}
.lgview-box-tabs .tabs-nav {
  background: url("./images/tab-line.png") repeat-x 0 100%;
}
.lgview-box-tabs .tabs-nav .yiwu-tab-item,
.lgview-box-tabs .tabs-nav .secure-tab-item {
  display: none;
}
.lgview-box-tabs .tabs-nav .nav-item {
  width: 84px;
  margin-left: 0;
}
.lgview-box-tabs .tabs-nav .nav-item a {
  color: #aaabab;
  font-size: 14px;
  font-family: 'Microsoft Yahei';
  height: 40px;
  line-height: 40px;
  line-height: 42px\9;
}
.lgview-box-tabs .tabs-nav .nav-item a:hover {
  text-decoration: none;
}
.lgview-box-tabs .tabs-nav .nav-item a,
.lgview-box-tabs .tabs-nav .nav-item a:hover {
  border: 0;
  background: none;
}
.lgview-box-tabs .tabs-nav .nav-item_active a,
.lgview-box-tabs .tabs-nav .nav-item_active a:hover {
  background: url("./images/tab-line-active.png") repeat-x 0 100%;
  font-weight: 700;
  color: #000;
}
.lgview-box-tabs .tabs-content {
  width: 252px;
  background: none;
  margin-top: 8px;
}
.lgview-box-tabs .tabs-content .tab-content {
  padding: 0;
}
.lgview-box-container {
  position: relative;
  border: none;
  background: none;
  padding-top: 10px;
}
.lgview-tip-common {
  display: block;
  width: 252px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
}
.lgview-tip-common .error {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: auto;
  padding-left: 26px;
  padding-right: 3px;
  border: 0;
  color: #d34900;
  text-align: left;
  background: #fdeee9 url("./images/err.png") 6px 50% no-repeat;
}
.autocode-inp,
.atuocode-img,
.autocode-exchange {
  float: left;
}
.autocode-exchange {
  margin-left: 5px;
}
.lgbox-common {
  width: 252px;
}
.lgbox-common-container {
  width: 100%;
}
.lgbox-common-form .form_group {
  position: relative;
}
.lgbox-common-form .form_group .controller-group {
  position: relative;
  height: 40px;
  line-height: 40px;
  _zoom: 1;
}
.lgbox-common-form .form_group .controller-group .controller-label {
  position: relative;
  z-index: 9;
  float: left;
  width: 38px !important;
  height: 38px !important;
  line-height: 38px;
  background-color: #aaabab;
  font-size: 12px;
  _zoom: 1;
  margin-top: 1px;
  margin-left: 1px;
}
.lgbox-common-form .form_group .controller-group .controller-label span {
  display: none;
  font-size: 0;
  line-height: 0;
}
.lgbox-common-form .form_group .controller-group .controller-body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
}
.lgbox-common-form .form_group .controller-group .controller-body .inp_text {
  float: left;
  width: 206px;
  padding-left: 44px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-color: #aaabab;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.lgbox-common-form .form_group .controller-group .controller-body .inp_text:focus {
  border-color: #294b8a;
  -webkit-box-shadow: 0 0 5px rgba(41,75,138,0.55);
  box-shadow: 0 0 5px rgba(41,75,138,0.55);
}
.lgbox-common-form .form_group .controller-group .controller-body .placeholder {
  float: left;
}
.lgbox-common-form .form_group .controller-group .controller-body .placeholder .placeholder-text {
  display: inline-block;
  width: auto;
  height: 40px;
  padding-left: 44px;
  line-height: 40px;
}
.lgbox-common-form .form_group .controller-group .controller-body .placeholder .placeholder-text em {
  height: 40px;
  line-height: 40px;
}
.lgbox-common-form .form_group .lg-common-controller-username .controller-label {
  background-position: 0 0;
}
.lgbox-common-form .form_group .lg-common-controller-password .controller-label {
  background-position: 0 -39px;
}
.lgbox-common-form .form_group .lg-common-controller-vcode .controller-label {
  background-position: 0 -78px;
}
.lgbox-common-form .form_group .lg-common-controller-vcode .controller-body .inp_text {
  width: 116px;
}
.lgbox-common-form .form_group .lg-common-controller-vcode .atuocode-img {
  width: 80px;
  height: auto;
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: -4px;
  cursor: pointer;
}
.lgbox-common-form .form_group .lg-btn {
  height: 70px;
}
.lgbox-common-form .form_group .lg-btn .controller-body {
  float: none;
  margin-left: 0;
}
.lgbox-common-form .form_group .lg-btn .controller-body a {
  display: block;
  position: relative;
}
.lgbox-common-form .form_group .lg-btn .controller-body .regist,
.lgbox-common-form .form_group .lg-btn .controller-body .forget-pwd {
  position: absolute;
  color: #535353;
  font-weight: 100;
}
.lgbox-common-form .form_group .lg-btn .controller-body .regist:hover,
.lgbox-common-form .form_group .lg-btn .controller-body .forget-pwd:hover {
  color: #f71;
}
.lgbox-common-form .form_group .lg-btn .controller-body .regist {
  right: 0;
  top: 0;
}
.lgbox-common-form .form_group .lg-btn .controller-body .forget-pwd {
  left: 0;
  top: 0;
}
.lgbox-common-form .form_group .lg-btn .controller-body .lgbtn-common-login {
  margin-top: 30px;
  background: #30a1f3;
}
.lgbox-ikey .wrap {
  padding-left: 0;
  padding-right: 0;
}
.lgbox-ikey .lgbox-ikey-hint .ikey-reminds {
  visibility: hidden;
}
.lgbox-ikey .lgbox-ikey-hint .ikey-download-text {
  margin-top: 23px;
  margin-bottom: 51px;
  font-family: 'Microsoft Yahei';
  color: #000;
}
.lgbox-ikey .lgbox-ikey-hint .ikey-download-text .download-please,
.lgbox-ikey .lgbox-ikey-hint .ikey-download-text .download-addon {
  display: block;
  text-align: center;
}
.lgbox-ikey .lgbox-ikey-hint .ikey-download-text .download-please {
  margin-bottom: 13px;
  font-size: 16px;
}
.lgbox-iccard {
  min-height: 190px;
}
.lgbox-ikey-content {
  padding-left: 10px;
  padding-right: 10px;
}
.hint-layer {
  width: 100%;
  height: 260px;
  -webkit-transition: top 1s 0.2s;
  -moz-transition: top 1s 0.2s;
  -o-transition: top 1s 0.2s;
  -ms-transition: top 1s 0.2s;
  transition: top 1s 0.2s;
  background-color: #fafafa;
}
.hint-layer .hint-wrap {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 35px;
}
.hint-layer .hint-poster {
  padding: 0;
  border: 0;
  margin-bottom: 35px;
  background: none;
  color: #000;
  font-family: 'Microsoft Yahei';
}
.hint-layer .hint-poster .epsilon {
  display: block;
  font-size: 14px;
}
.hint-layer .hint-btn .lgbtn-hint-comfirm {
  display: block;
}
.hint-layer-hide {
  top: 100%;
  left: 0;
}
