<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网站标题</title>
    <link rel="stylesheet" href="../..//css/inner.css">
    <link rel="stylesheet" href="../..//css/richtxteditor.css">
    <script>
      var _G = {
        sideNavActive : -1,
        jsPath: "../..//scripts",
        cssPath: "../..//css"
      }
    </script>
    <script src="../..//scripts/lib/requirejs-config/inner.js"></script>
    <script src="../..//scripts/lib/requirejs/require.js" data-main="inner/main"></script>
  </head>
  <body>
    <div id="main-page">
      <div class="manage-content">
        <div id="inner-crumbs">
          <div class="crumbs-container"><span>当前位置：</span><a href="#" class="crumbs-item">列表</a><span class="crumbs-item-drivers">></span><a class="crumbs-item">两行查询列表</a></div>
        </div>
        <div class="manage-content-container">
          
        </div>
      </div>
    </div>
  </body>
  <script src="../..//scripts/lib/autoheight/main.js"></script>
</html>